{% extends "layouts/base.html" %}

{% block title %}KAEL - Home{% endblock title %}
{% block header %}
<nav>
    <img onclick="menuOpen()"  class="m-image" alt="filterImage" src="{{url_for('static', filename='img/components/filter.png')}}">
    <ul>
        <li><a href="null">Home</a></li>
        <li><a href="null">Contact</a></li>
        <li><a href="null">Explorar</a></li>
        <li><a href="null">Mas</a></li>
    </ul>
    <h1>kael</h1>
    <button onclick="" id="shopbutton"><img
            src="{{url_for('static', filename='img/components/shoplist-list.png')}}" alt=""></button>
</nav>
{% endblock header %}
{% block maincontent %}
<section class="item__cards-container">
    <div class="card__product" itemtype="">
        <div class="card__description">
            <p>Product name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe adipisci sed cumque enim. Ea a
                quisquam similique, hic, rem itaque soluta nisi doloribus, aspernatur neque iusto explicabo?
                Consectetur, quia.</p>
            <button id="card-product-id">add to shoplist <img
                    src="{{url_for('static', filename='img/components/add-list.png')}}" alt=""></button>
        </div>
    </div>
    <div class="card__product" itemtype="">
        <div class="card__description">
            <p>Product name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe adipisci sed cumque enim. Ea a
                quisquam similique, hic, rem itaque soluta nisi doloribus, aspernatur neque iusto explicabo?
                Consectetur, quia.</p>
            <button id="card-product-id">add to shoplist <img
                    src="{{url_for('static', filename='img/components/add-list.png')}}" alt=""></button>
        </div>
    </div>
    <div class="card__product" itemtype="">
        <div class="card__description">
            <p>Product name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe adipisci sed cumque enim. Ea a
                quisquam similique, hic, rem itaque soluta nisi doloribus, aspernatur neque iusto explicabo?
                Consectetur, quia.</p>
            <button id="card-product-id">add to shoplist <img
                    src="{{url_for('static', filename='img/components/add-list.png')}}" alt=""></button>
        </div>
    </div>
    <div class="card__product" itemtype="">
        <div class="card__description">
            <p>Product name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe adipisci sed cumque enim. Ea a
                quisquam similique, hic, rem itaque soluta nisi doloribus, aspernatur neque iusto explicabo?
                Consectetur, quia.</p>
            <button id="card-product-id">add to shoplist <img
                    src="{{url_for('static', filename='img/components/add-list.png')}}" alt=""></button>
        </div>
    </div>
    <div class="card__product" itemtype="">
        <div class="card__description">
            <p>Product name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe adipisci sed cumque enim. Ea a
                quisquam similique, hic, rem itaque soluta nisi doloribus, aspernatur neque iusto explicabo?
                Consectetur, quia.</p>
            <button id="card-product-id">add to shoplist <img
                    src="{{url_for('static', filename='img/components/add-list.png')}}" alt=""></button>
        </div>
    </div>
    <div class="card__product" itemtype="">
        <div class="card__description">
            <p>Product name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe adipisci sed cumque enim. Ea a
                quisquam similique, hic, rem itaque soluta nisi doloribus, aspernatur neque iusto explicabo?
                Consectetur, quia.</p>
            <button id="card-product-id">add to shoplist <img
                    src="{{url_for('static', filename='img/components/add-list.png')}}" alt=""></button>
        </div>
    </div>
    <div class="card__product" itemtype="">
        <div class="card__description">
            <p>Product name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe adipisci sed cumque enim. Ea a
                quisquam similique, hic, rem itaque soluta nisi doloribus, aspernatur neque iusto explicabo?
                Consectetur, quia.</p>
            <button id="card-product-id">add to shoplist <img
                    src="{{url_for('static', filename='img/components/add-list.png')}}" alt=""></button>
        </div>
    </div>
    <div class="card__product" itemtype="">
        <div class="card__description">
            <p>Product name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe adipisci sed cumque enim. Ea a
                quisquam similique, hic, rem itaque soluta nisi doloribus, aspernatur neque iusto explicabo?
                Consectetur, quia.</p>
            <button id="card-product-id">add to shoplist <img
                    src="{{url_for('static', filename='img/components/add-list.png')}}" alt=""></button>
        </div>
    </div>
    <div class="card__product" itemtype="">
        <div class="card__description">
            <p>Product name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe adipisci sed cumque enim. Ea a
                quisquam similique, hic, rem itaque soluta nisi doloribus, aspernatur neque iusto explicabo?
                Consectetur, quia.</p>
            <button id="card-product-id">add to shoplist <img
                    src="{{url_for('static', filename='img/components/add-list.png')}}" alt=""></button>
        </div>
    </div>
    <div class="card__product" itemtype="">
        <div class="card__description">
            <p>Product name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe adipisci sed cumque enim. Ea a
                quisquam similique, hic, rem itaque soluta nisi doloribus, aspernatur neque iusto explicabo?
                Consectetur, quia.</p>
            <button id="card-product-id">add to shoplist <img
                    src="{{url_for('static', filename='img/components/add-list.png')}}" alt=""></button>
        </div>
    </div>
    <div class="card__product" itemtype="">
        <div class="card__description">
            <p>Product name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe adipisci sed cumque enim. Ea a
                quisquam similique, hic, rem itaque soluta nisi doloribus, aspernatur neque iusto explicabo?
                Consectetur, quia.</p>
            <button id="card-product-id">add to shoplist <img
                    src="{{url_for('static', filename='img/components/add-list.png')}}" alt=""></button>
        </div>
    </div>
    <div class="card__product" itemtype="">
        <div class="card__description">
            <p>Product name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe adipisci sed cumque enim. Ea a
                quisquam similique, hic, rem itaque soluta nisi doloribus, aspernatur neque iusto explicabo?
                Consectetur, quia.</p>
            <button id="card-product-id">add to shoplist <img
                    src="{{url_for('static', filename='img/components/add-list.png')}}" alt=""></button>
        </div>
    </div>
    <div class="card__product" itemtype="">
        <div class="card__description">
            <p>Product name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe adipisci sed cumque enim. Ea a
                quisquam similique, hic, rem itaque soluta nisi doloribus, aspernatur neque iusto explicabo?
                Consectetur, quia.</p>
            <button id="card-product-id">add to shoplist <img
                    src="{{url_for('static', filename='img/components/add-list.png')}}" alt=""></button>
        </div>
    </div>
    <div class="card__product" itemtype="">
        <div class="card__description">
            <p>Product name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe adipisci sed cumque enim. Ea a
                quisquam similique, hic, rem itaque soluta nisi doloribus, aspernatur neque iusto explicabo?
                Consectetur, quia.</p>
            <button id="card-product-id">add to shoplist <img
                    src="{{url_for('static', filename='img/components/add-list.png')}}" alt=""></button>
        </div>
    </div>
    <div class="card__product" itemtype="">
        <div class="card__description">
            <p>Product name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe adipisci sed cumque enim. Ea a
                quisquam similique, hic, rem itaque soluta nisi doloribus, aspernatur neque iusto explicabo?
                Consectetur, quia.</p>
            <button id="card-product-id">add to shoplist <img
                    src="{{url_for('static', filename='img/components/add-list.png')}}" alt=""></button>
        </div>
    </div>
</section>
{% endblock maincontent %}
{% block aside %}
<h2>Prendas</h2>
<ol>
    <li> Zapatos <input type="checkbox" name="" id=""></li>
    <li> Camisas <input type="checkbox" name="" id=""></li>
    <li> Camisetas <input type="checkbox" name="" id=""></li>
    <li> calcetines <input type="checkbox" name="" id=""></li>
    <li> Vestidos <input type="checkbox" name="" id=""></li>
</ol>
<h2>Accesorios</h2>
<ol>
    <li> Relojes <input type="checkbox" name="" id=""></li>
    <li> Gorros <input type="checkbox" name="" id=""></li>
    <li> Cinturones <input type="checkbox" name="" id=""></li>
</ol>
<h2>Precio</h2>
<h2 id="rangeValue">0€</h2>
<input type="range" name="" id="inputRange" min="0" max="100" value="0" list="tickmarks" oninput="myFunction(this.value)">
<datalist id="tickmarks">
    <option value="0" label="0%"></option>
    <option value="50" label="50%"></option>
    <option value="100" label="100%"></option>
</datalist>
{% endblock aside %}
{% block footer %}
{% endblock footer %}